@charset "utf-8";
@import "/css/base.css";

body {
    background-image: url("/imgs/starry_wallpaper.png");
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--primary);
    box-shadow: 0px 5px 10px 10px var(--shadow);
}

nav h3 {
    color: white;
    font-weight: bold;
}

nav ul {
    width: 100%;
    max-width: 800px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

nav li, .mobileNav li{
    list-style: none;
}

.link a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .toggle {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

nav a:hover {
    color: var(--ter);
    scale: 1.05;
}

/*mobile nav*/
.mobileNav.open {
    height: 240px;
}

.mobileNav {
    display: none;
    position: absolute;
    right: 2em;
    top: 100px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--br);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: height 1s;
}

.mobileNav ul {
    padding: 0;
}

.mobileNav li {
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: center;
}

.mobileNav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 30px;
}

