@charset "utf-8";
@import "base.css";

@media (max-width: 900px) {
    header #text {
    width: auto;
    }

    div#top {
        flex-direction: column;
        margin: 50px;
        gap: 50px;
    }

    div#right {
        margin: 0;
    }

    div#left {
        margin: 0;
    }

    section#projects {
        height: 100%;
    }

    div#slide_window {
        position: relative;
        padding: 40px;
    }

    #projects div#right {
        position: static;
        margin: auto;
        width: auto;
        height: 30%;
        text-align: center;
    }

    #projects div#left {
        position: static;
        height: 60%;
        border-left-style: none;
        border-bottom-style: solid;
        margin: auto;
        display: block;
    }

    #projects div#left ul {
        display: block;
        width: 100%;
        animation: slide2 15s ease-in-out infinite;
        animation-direction: alternate;
    }

    .project {
        margin: 50px auto;
        width: auto;
        height: auto;
    }

    .project #content {
        width: auto;
    }
}

@media (max-width: 720px) {
    header .center {
        display: block;
    }

    header #text {
        min-width: 0;
        flex: 100%;
    }

    div.right_img {
        display: none;
    }

}

@media (max-width: 650px) {

    header {
        height: 420px;
    }

    header #text {
        text-align: center;
        overflow: hidden;
        height: 50%;
    }

    header #text h1 {
        font-size: 30px;
    }
    
    header #text > * {
        font-size: 18px;
        margin-top: 0;

    }

    div.bottom_img img{
        display: block;
    }

    div.bottom_img img {
        width: 100%;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide2 {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-72%);
    }
}