@charset "utf-8";
@import "root";

@media(max-width: 900px) {
    nav ul {
        scale: .9;
    }
}

@media(max-width: 600px) {
    nav .link {
        display: none;
    }
    nav .toggle {
        display: block;
    }

    nav ul {
        justify-content: center;
        justify-content: space-between;
    }

    .mobileNav{
        display: block;
        left: 2rem;
        width: unset;
    }
}
